.main-contain{
	width:985px;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
	
	
}
.illustration{
	background:url(../images/illu.png);
	height:437px;
	width:100%;
	margin-bottom:20px;
	box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
	-moz-box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
	-webkit-box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
}
.contain{
	width:100%;
	display:table;
}
.contain-block{
	
	display:table;
	width:100%;
}
.block-left{
	width:678px;
	float:left;
	
}
.block-right{
	width:282px;
	float:right;
	
}
/*BLOCK RIGHT CONTAIN START*/
.block-right-contain{
	margin-bottom:30px;
	width:280px;
	display:table;
	box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
	-moz-box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
	-webkit-box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
}
#block-right-title{
	height:65px;
	width:100%;
	background:#399bd8;
	padding-top:5px;
	color:#fff;
}
#block-right-title h2{
	margin-left:20px;
}
#block-right-desc{
	width:100%;
	background:#fff;
	height:315px;
	
}
#box-right{
	margin:0 10px;
	border-bottom:1px solid #eaeaea;
	padding-top:10px;
	padding-bottom:10px;
}
#box-right span{
	font-family: 'Lato', sans-serif;
	font-size:13px;
	color:#707070;
}
#box-right a{
	color:#0099ff;
}
/*BLOCK RIGHT CONTAIN END*/

/* BLOCK CONTAIN START */
.block-contain{
	margin-top:10px;
	background:#fff;
	margin-bottom:30px;
	width:100%;
	display:table;
	text-align:center;
	box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
	-moz-box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
	-webkit-box-shadow: 7px 10px 13px 0px rgba(119, 119, 119, 0.35);
}
.block-title {
	height:40px;
	width:100%;
	padding-top:5px;
	color:#fff;
	text-align:left;
	padding-left:10px;
}
.block-title span{
	
	font-size:24px;
	
}
#block-logo{
	height:178px;
	width:250px;
	float:left;

}
#block-logo img{
	width:100%;
	height:100%;
}
#block-desc{
	height:178px;
	width:420px;
	float:left;
	background:#fff;
}
#block-desc ul{
	list-style:none;
	
}

#block-desc ul li{
	margin-top:10px;
}
#block-desc ul li a{
	font-family: 'Lato', sans-serif;
	font-size:13px;
	color:#707070;
	
}
table{
	width:100%;
}
table thead{
	background:#eaeaea;
}
.box{
	width:100%;
	padding:10px;
	display:table;
}
.box #label{
	text-align:left;
	float:left;
	width:40%;
	
}
.box #text{
	text-align:left;
	float:left;
	width:45%;
	
}
#contain{
	text-align:left;
}
input[type=text]{
	width:100%;
}
.contain:last-child{
	margin-bottom:120px;
}
/* BLOCK CONTAIN END */
